body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  height:100%;
}

.lol{
  position: fixed;
  float: left;
  left:2.5%;
  width: 45% !important ;
  height: 90%;
  top:5%;
}

.app{
  width: 100% !important ;
  height: 100%;
}

.add-bots{
  position: absolute;
  top :90% !important;
  left: 85%;
  width:40px !important;
  height: 40px;
}

.pause-bots{
  position: absolute;
  top :90% !important;
  left: 65%;
  width:40px !important;
  height: 40px;
}

.play-bots{
  position: absolute;
  top :90% !important;
  left: 45%;
  width:40px !important;
  height: 40px;
}

.cancel-selection{
  position: absolute;
  top :90% !important;
  left: 25%;
  width:40px !important;
  height: 40px;
}

.refresh-selection{
  position: absolute;
  top :90% !important;
  left: 2.5%;
  width:40px !important;
  height: 40px;
}

.invert-me{
	background: #404a52 !important;
	color:#fff !important;
}
.name-search{
  float:right;
  width:20% !important;
  right:2.5% !important;
  top:5%;
  margin-top:2.5%;
}
.broken-paragraph{
  overflow: scroll;
  width: 100% !important;
  height:15%;
  word-wrap: break-word !important;
}
.tag-search{
  float: right;
  width: 20%;
  right:10%!important;
  margin-top:2.5%;
}
.botlist{
  float: right;
  margin-top :5% !important;
  width :47.5%;
  height: 90% !important;
  right: 40%;
  margin-right: 2.5%;
}
.horizontal-scorllable{
  overflow-y:auto !important; 
  white-space:pre-wrap !important;
}

.setting-textarea{
  width: 100%;
  resize: vertical;
}
.select-all{
  position: absolute;
  margin-top :5% !important;
  left :66%;
}
#root{
  height: 100%;
}